* 
    Smart Home
*/

root { 
    display: block;
}

body {
    margin: 0;
    padding: 0;
}

#wrapper {
    padding-top: 40px;
    position: relative;
    width: 705px;
    height: 600px;
	margin-right: auto;
	margin-top: 0;
	margin-left: auto;
	background: gray;
        font-size: 70px;
        color: white;
        text-align: center;
        font-family: arial;
}

.botao {
	position: absolute;
    left: 7px;
    top: 160px;
	display:inline-block;
	color: white;
	background-color: pink;
	font-family:arial;
	font-size:28px;
	font-weight:bold;
	padding:10px 40px;
	text-decoration:none;
	text-shadow:0px 0px 0px #ffffff;
        width: 260px;
		height: 260px;
        text-align: center;
}
.botao_2 {
	position: absolute;
    right: 7px;
    top: 160px;
	border:1px solid #dcdcdc;
	display:inline-block;
	color: white;
	font-family:arial;
	font-size:28px;
	font-weight:bold;
	padding:10px 40px;
	text-decoration:none;
	text-shadow:0px 0px 0px #ffffff;
        width: 260px;
		height: 260px;
        text-align: center;
}
}.botao:active {
	position:relative;
	top:1px;
}

}.botao_2:active {
	position:relative;
	top:1px;
}
